:root {
    --primary-color: #ff3333;
    --secondary-color: #ff6666;
    --white: #ffffff;
    --light-gray: #f5f5f5;
    --dark-gray: #333333;
    --correct-color: #4CAF50;
    --wrong-color: #f44336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--white);
    color: var(--dark-gray);
}


header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    opacity: 0.9;
}

.btn {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.btn-secondary {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: 1px solid #ddd;
}

.btn-secondary:hover {
    background-color: #e5e5e5;
}

.rules-container {
    background-color: var(--white);
    border-radius: 10px;
    padding: 30px;
    margin: 30px 300px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.rules-container h2{
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.rules-list {
    list-style-position: inside;
    margin-bottom: 30px;
    list-style: none;
}

.rules-list li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

@media (max-width:900px) {
    
}